@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Kanit', sans-serif;
    background-color: #a1f8f6b0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.text-logo {
    font-size: 27px;
    font-weight: 600;
}

.container {
    text-align: center;
}

.logo-container {
    margin-bottom: 60px;
}

.logo-container img {
    width: 260px;
    height: auto;
}

.center {
    text-align: center;
}

.text-image-container {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.btn-container {
    text-align: center;
}

.btn-container p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-top: 10px;
}

.btn {
    text-decoration: none;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
}

.image {
    width: 300px;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

.btn:hover .image {
    transform: scale(1.1);
}

/* Responsive design for tablets and small desktops */
@media (max-width: 768px) {
    .text-image-container {
        flex-direction: column;
        gap: 0px; /* Adjust the gap for smaller screens */
    }

    .btn-container {
        margin-bottom: 20px;
    }

    .logo-container {
        margin-bottom: 30px;
    }

    .image {
        width: 50%; /* Adjust image size for smaller screens */
    }

    .btn-container p {
        font-size: 1.2rem; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 376px) {
    .text-image-container {
        flex-direction: column;
        gap: 0px; /* Reduce gap further for very small screens */
    }

    .image {
        width: 30%; /* Adjust image size for very small screens */
    }

    .btn-container p {
        font-size: 1rem; /* Adjust font size for very small screens */
    }

    .logo-container {
        margin-bottom: 0px;
    }
    
    .text-logo {
        font-size: 10px;
        font-weight: bold;
    }

    .logo-container img {
        width: 180px;
        height: auto;
    }
    
}
