@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;700&display=swap');

body {
    font-family: 'Kanit', sans-serif;
    background-color: #a1f8f6b0;
    margin: 0;
    padding: 0;
    text-align: center;
}

.logo {
    width: 180px;
    height: auto;
    display: block;
    margin: 20px auto;
}


.text-header {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 0px;
}

.text-subheader {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 350;
}

main {
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: left;
}

.grid-item {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.faculty-name {
    font-size: 18px;
    font-weight: bold;
}

.faculty-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.eligible-count {
    font-size: 16px;
    color: #555;
}

.percentage-bar {
    height: 40px;
    background-color: #4caf50;
    width: 0;
    transition: width 2s ease-in-out;
    border-radius: 0px;
}

.bar-container {
    background-color: #ddd;
    width: 85%;
    position: relative;
    text-align: left;
    border-radius: 20px;
    overflow: hidden;
}

.percentage-text {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-weight: bold;
}

@media (max-width: 480px) {
    body {
        font-size: 14px; /* ปรับขนาดตัวอักษรให้เหมาะสมกับขนาดหน้าจอโทรศัพท์ */
    }

    .logo {
        width: 120px; /* ลดขนาดโลโก้ให้เหมาะสมกับขนาดหน้าจอโทรศัพท์ */
    }

    .text-header {
        font-size: 20px; /* ปรับขนาดข้อความหัวเรื่องให้เหมาะสมกับขนาดหน้าจอโทรศัพท์ */
    }

    .text-subheader {
        font-size: 16px; /* ปรับขนาดข้อความซับเฮดเดอร์ให้เหมาะสมกับขนาดหน้าจอโทรศัพท์ */
    }

    .grid-item {
        padding: 10px; /* ลดระยะห่างของกรอบของข้อมูลแต่ละช่องในตาราง */
    }

    .faculty-name {
        font-size: 16px; /* ปรับขนาดข้อความชื่อคณะให้เหมาะสมกับขนาดหน้าจอโทรศัพท์ */
    }

    .eligible-count {
        font-size: 14px; /* ปรับขนาดข้อความจำนวนคณะให้เหมาะสมกับขนาดหน้าจอโทรศัพท์ */
    }

    .percentage-text {
        font-size: 10px; /* ปรับขนาดข้อความเปอร์เซ็นต์ให้เหมาะสมกับขนาดหน้าจอโทรศัพท์ */
    }

    .grid-container {
        grid-template-columns: 1fr; /* ให้กริดแสดงแค่หนึ่งคอลัมน์ในโทรศัพท์ */
    }

    .bar-container {
        width: 70%; /* ปรับขนาดกล่องความสูงของแท่งสีเขียวให้เหมาะสมกับขนาดหน้าจอโทรศัพท์ */
    }

    .percentage-bar {
        height: 20px; /* ปรับความสูงของแท่งสีเขียวให้เหมาะสมกับขนาดหน้าจอโทรศัพท์ */
    }
}
